<h1 class="mb-5">Editing group</h1>

<%= render "form", group: @group %>

<br>
<div class="btn-group my-5">
  <%= link_to "Show this group", @group, class: "btn btn-sm btn-outline-dark" %>
  <%= link_to "Back to groups", groups_path, class: "btn btn-sm btn-outline-dark" %>
</div>
